body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  background: #1b1c1d;
  color: whitesmoke;
}

.border-visible {
  border: 1px solid burlywood;
}

.container1a {
  margin: 5rem;
  max-width: 18rem;
}

.container1b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.LineEffect {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.LineEffect::before,
.LineEffect::after {
  content: "";
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
.LineEffect::after {
  margin: 0 0 0 20px;
}

.box-header{
  padding-top: 1rem;
}

.contrast{
  background-color: White; 
  color: #404040
}